@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark;
  root: ":root";
  logs: true;
}

@theme {
  --font-triangle: var(--font-dinround);
  --color-mint-500: oklch(0.72 0.11 200);
  --font-poppins: Poppins, sans-serif;
  --color-starplatinum: #C4BCEF;
  --color-primary-100: #D6EAFF;
  --color-primary-200: #C2DBFF;
  --color-primary-300: #98C3FF;
  --color-primary-400: #70ACFF;
  --color-primary-500: #4793FF;
  --color-primary-600: #1F7CFF;
  --color-primary-700: #0066F5;
  --color-primary-800: #0055CC;
  --color-primary-900: #013B8F;
}

.jojo {
  --color-starplatinum: #C4BCEF;
}

.dio {
  --color-starplatinum: #e1d068;
}
